.image{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-color: #bfbfbf;
}

.spinner{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-color: #bfbfbf;
    display: flex;
    justify-content: center;
    align-content: center;
}