.title{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 10px;
    overflow: hidden;
    max-height: 1.2rem;
    line-height: 1.2rem;  
    color: #eee;
}

.content{
    margin-top: 15px;
    height:7rem; 
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #eee;
    font-family: sans-serif;
}

.date{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    font-weight: 600;
}

.link{
    text-decoration: none;
    color: inherit;
}
